/* Scroll up */
.scrollup {
    position: fixed;
    right: 1rem;
    bottom: -20%;
    display: flex;
    background-color: black;
    border-radius: 0.25rem;
    padding: 0.45rem;
    opacity: 9;
    z-index: 1000;
    transition: 0.4s;
  }
  
  .scrollup__icon {
    color: white;
    font-weight: bold;
    font-size: 30px;
  }
  
  .scrollup:hover {
    background-color: #fd3838;
    opacity: 1;
  }
  
  .show-scroll {
    bottom: 5rem;
  }
  
  
  ::-webkit-scrollbar{
      width: .60rem;
      border-radius: .5rem;
  }
  
  ::-webkit-scrollbar-thumb{
      background-color: lightgray;
      border-radius: .5rem;
  }
  
  ::-webkit-scrollbar-thumb:hover{
      background-color: #fd3838;
  }
  